* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: #ff6e89;
  background-image: url(./assets/layered-waves-haikei.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time {
  height: 40px;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  img {
    height: 100%;
    margin-left: 10px;
    filter: drop-shadow(#ffffff00);
    /* animation: spin 2s 0.5s infinite; */
  }
  h3 {
    margin-left: 5px;
  }
}

/* @keyframes spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
} */

.main_q {
  margin-top: 70px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px dashed rgba(255, 0, 0, 0.171);
  /* margin-left: 10%; */
  padding: 20px;
  background: #f8f8f834;
  border-radius: 10px;
  /* border: 2px solid red; */
}

.question {
  height: auto;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 100px; */
  .top {
    margin-bottom: 20px;
  }
}
.options {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  margin-top: 50px;
  align-items: stretch;

  input[type="radio"] {
    display: none;
  }
  label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    cursor: pointer;
    border: 2px solid #e2e2e2;
    border-radius: 5px;
    height: 35px;
    width: 140px;
    margin: 5px;
    box-shadow: 3px 4px 0px 0px rgb(208 212 208);
  }
  input[type="radio"]:checked + label {
    background-color: #c5ff5a;
    border: #33413731 2px solid;
  }
  label:active {
    box-shadow: #d6d6e7 0 3px 7px inset;
    transform: translateY(2px);
  }
}
.answer {
  display: flex;
  margin: 12px;
  width: 80%;
  border-radius: 4px;
  padding: 10px 20px 10px 15px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: background 0.15s linear, color 0.15s linear;
  text-transform: none;
  font-size: 14px;
  border: 2px solid #d0d9df;
  background-color: rgb(255, 255, 255);
  input {
    margin-right: 12px;
  }
}

.bottom {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  button {
    width: 125px;
    padding: 10px 0px;
    margin: 15px;
    border-radius: 5px;
    border: 2px solid #2c2c2c21;
    box-shadow: 3px 4px 0px 0px rgb(208 212 208);
  }
  #pre_btn {
    background-color: #ff8989;
  }
  #next_btn {
    background-color: #85ffaa;
  }
  #pre_btn:active {
    box-shadow: #d6d6e7 0 3px 7px inset;
    transform: translateY(2px);
  }
  #next_btn:active {
    box-shadow: #d6d6e7 0 3px 7px inset;
    transform: translateY(2px);
  }
}
