body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.form-header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 10px;
}


.form-header h1{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.btn {
    margin-bottom: 20px;
}

.btn input[type="number"],
.btn input[type="text"] {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #212121;
    border-radius: 5px;
}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

tr:hover {
    background-color: #f3ef0c;
    cursor: pointer;
}

.container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
}

.btn button:hover {
    background-color: #313131;
}

input[type="text"],
input[type="number"] {
    padding: 5px;
    border: 1px solid #313131;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus {
    outline: none;
    border-color: #4CAF50;
}

#dataTable {
    margin-top: 20px;
}

#dataTable th {
    cursor: pointer;
    transition: 0.3s ease;
}

#dataTable th:hover {
    background-color: #313131;
}

#dataTable td {
    transition: background-color 0.3s ease;
    color: purple;
}